# InspectIT CMR
inspectit_cmr/**
!inspectit_cmr/config/default.xml
!inspectit_cmr/ci/businessContext.xml
!inspectit_cmr/ci/profiles/petClinic_Profile.xml

# Jenkins
jenkins_home/**
!jenkins_home/jobs/spring-pet-clinic-ci-load-test-docker/config.xml

# InfluxDB
influxdb/**

# Grafana
grafana/**
